In [2]:
import pandas as pd

filename = "http://data.insideairbnb.com/the-netherlands/north-holland/amsterdam/2021-04-09/visualisations/listings.csv"
df = pd.read_csv(filename)

In [3]:
df.head()

      id  ... availability_365
0   2818  ...              152
1  20168  ...                0
2  25428  ...              132
3  27886  ...               66
4  28871  ...              335

[5 rows x 16 columns]

In [ ]:
df.shape