In [1]:
import pandas as pd

filename = "../data/train.csv"
df = pd.read_csv(filename, index_col="id")

In [2]:
df.head(5)

,log_price,property_type,room_type,amenities,accommodates,bathrooms,bed_type,cancellation_policy,cleaning_fee,city,...,latitude,longitude,name,neighbourhood,number_of_reviews,review_scores_rating,thumbnail_url,zipcode,bedrooms,beds
id,,,,,,,,,,,,,,,,,,,,,
6901257,5.010635,Apartment,Entire home/apt,"{""Wireless Internet"",""Air conditioning"",Kitche...",3,1.0,Real Bed,strict,True,NYC,...,40.696524,-73.991617,Beautiful brownstone 1-bedroom,Brooklyn Heights,2,100.0,https://a0.muscache.com/im/pictures/6d7cbbf7-c...,11201,1.0,1.0
6304928,5.129899,Apartment,Entire home/apt,"{""Wireless Internet"",""Air conditioning"",Kitche...",7,1.0,Real Bed,strict,True,NYC,...,40.766115,-73.989040,Superb 3BR Apt Located Near Times Square,Hell's Kitchen,6,93.0,https://a0.muscache.com/im/pictures/348a55fe-4...,10019,3.0,3.0
7919400,4.976734,Apartment,Entire home/apt,"{TV,""Cable TV"",""Wireless Internet"",""Air condit...",5,1.0,Real Bed,moderate,True,NYC,...,40.808110,-73.943756,The Garden Oasis,Harlem,10,92.0,https://a0.muscache.com/im/pictures/6fae5362-9...,10027,1.0,3.0
13418779,6.620073,House,Entire home/apt,"{TV,""Cable TV"",Internet,""Wireless Internet"",Ki...",4,1.0,Real Bed,flexible,True,SF,...,37.772004,-122.431619,Beautiful Flat in the Heart of SF!,Lower Haight,0,NaN,https://a0.muscache.com/im/pictures/72208dad-9...,94117.0,2.0,2.0
3808709,4.744932,Apartment,Entire home/apt,"{TV,Internet,""Wireless Internet"",""Air conditio...",2,1.0,Real Bed,moderate,True,DC,...,38.925627,-77.034596,Great studio in midtown DC,Columbia Heights,4,40.0,NaN,20009,0.0,1.0

In [4]:
df["property_type"].nunique()

35

In [5]:
df["property_type"].value_counts()

Apartment             49003
House                 16511
Condominium            2658
Townhouse              1692
Loft                   1244
Other                   607
Guesthouse              498
Bed & Breakfast         462
Bungalow                366
Villa                   179
Dorm                    142
Guest suite             123
Camper/RV                94
Timeshare                77
Cabin                    72
In-law                   71
Hostel                   70
Boutique hotel           69
Boat                     65
Serviced apartment       21
Tent                     18
Castle                   13
Vacation home            11
Yurt                      9
Hut                       8
Treehouse                 7
Chalet                    6
Earth House               4
Tipi                      3
Train                     2
Cave                      2
Island                    1
Lighthouse                1
Parking Space             1
Casa particular           1
Name: property_type, dtype: int64

In [4]:
df.shape

(74111, 28)

In [5]:
df["amenities"].iloc[0]

'{"Wireless Internet","Air conditioning",Kitchen,Heating,"Family/kid friendly",Essentials,"Hair dryer",Iron,"translation missing: en.hosting_amenity_50"}'

'{"Wireless Internet","Air conditioning",Kitchen,Heating,"Family/kid friendly",Essentials,"Hair dryer",Iron,"translation missing: en.hosting_amenity_50"}'

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 74111 entries, 6901257 to 3534845
Data columns (total 28 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   log_price               74111 non-null  float64
 1   property_type           74111 non-null  object
 2   room_type               74111 non-null  object
 3   amenities               74111 non-null  object
 4   accommodates            74111 non-null  int64
 5   bathrooms               73911 non-null  float64
 6   bed_type                74111 non-null  object
 7   cancellation_policy     74111 non-null  object
 8   cleaning_fee            74111 non-null  bool
 9   city                    74111 non-null  object
 10  description             74111 non-null  object
 11  first_review            58247 non-null  object
 12  host_has_profile_pic    73923 non-null  object
 13  host_identity_verified  73923 non-null  object
 14  host_response_rate      55812 non-null  object
 15  host_since              73923 non-null  object
 16  instant_bookable        74111 non-null  object
 17  last_review             58284 non-null  object
 18  latitude                74111 non-null  float64
 19  longitude               74111 non-null  float64
 20  name                    74111 non-null  object
 21  neighbourhood           67239 non-null  object
 22  number_of_reviews       74111 non-null  int64
 23  review_scores_rating    57389 non-null  float64
 24  thumbnail_url           65895 non-null  object
 25  zipcode                 73145 non-null  object
 26  bedrooms                74020 non-null  float64
 27  beds                    73980 non-null  float64
dtypes: bool(1), float64(7), int64(2), object(18)
memory usage: 15.9+ MB

In [7]:
df.corr()

,log_price,accommodates,bathrooms,cleaning_fee,latitude,longitude,number_of_reviews,review_scores_rating,bedrooms,beds
log_price,1.000000,0.567574,0.355420,0.111191,-0.002193,-0.047529,-0.032470,0.091219,0.473212,0.442153
accommodates,0.567574,1.000000,0.505632,0.182306,-0.078309,-0.085160,0.041964,-0.017128,0.709258,0.810801
bathrooms,0.355420,0.505632,1.000000,0.053784,-0.137959,-0.135026,-0.041381,0.010537,0.589935,0.525591
cleaning_fee,0.111191,0.182306,0.053784,1.000000,-0.060913,-0.068505,0.110204,0.034879,0.105454,0.131632
latitude,-0.002193,-0.078309,-0.137959,-0.060913,1.000000,0.896065,-0.017642,-0.032858,-0.059162,-0.080294
longitude,-0.047529,-0.085160,-0.135026,-0.068505,0.896065,1.000000,-0.050009,-0.048801,-0.076113,-0.082150
number_of_reviews,-0.032470,0.041964,-0.041381,0.110204,-0.017642,-0.050009,1.000000,0.011708,-0.035149,0.031109
review_scores_rating,0.091219,-0.017128,0.010537,0.034879,-0.032858,-0.048801,0.011708,1.000000,0.011143,-0.027330
bedrooms,0.473212,0.709258,0.589935,0.105454,-0.059162,-0.076113,-0.035149,0.011143,1.000000,0.709416
beds,0.442153,0.810801,0.525591,0.131632,-0.080294,-0.082150,0.031109,-0.027330,0.709416,1.000000

In [8]:
abs(df.corr()["log_price"]).sort_values(ascending=False)

log_price               1.000000
accommodates            0.567574
bedrooms                0.473212
beds                    0.442153
bathrooms               0.355420
cleaning_fee            0.111191
review_scores_rating    0.091219
longitude               0.047529
number_of_reviews       0.032470
latitude                0.002193
Name: log_price, dtype: float64

In [30]:
df["host_identity_verified"].value_counts()

t    49748
f    24175
Name: host_identity_verified, dtype: int64

In [28]:
df["neighbourhood"].nunique()

619